.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
}

.user-input {
  width: 1000px;
  margin-top: 10px;
}

header {
  display: flex;
  justify-content: center;
}

.game-grid {
  margin-top: 20px;
}

.pattern-files {
  justify-content: left;
  margin-left: 40px;
}
.pattern-files ul {
  display: inline-block;
}